@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: #fff;
    font-family: 'Montserrat',helvetica ,sans-serif;
    background: linear-gradient(-90deg, #ff708b, #383874);
}

.container {
    width: 92vw;
    height: 90%;
    margin: 2em auto;
    background-color: rgba(0, 0, 0, .7);
    position: relative;
    z-index: 1;
    border-radius: 7px;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .9);
    -webkit-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0 10px 10px -5px rgba(0, 0, 0, .9);
}


.leaderboard-container {
    display: flex;
    flex-direction: column;
    flex: 1 1;
}
.leaderboard-header {
    text-align: center;
    padding: 1em 2em;
}

.leaderboard-list {
    padding: 1em;
}

.individual:first-child,
.individual:nth-child(2),
.individual:nth-child(3) {
    background-color: rgba(0, 255, 0, .5);

}
.individual {
    margin: 1em 0;
    cursor: pointer;
}
.individual > p {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    transition: all 500ms ease-in-out;
}

.individual > p:hover {
    font-weight: 700;
    color: rgba(0, 0, 0, .9);
    font-size: 1.1rem;
    background-color: #fff;
    border-radius: 5px;
    transform : scaleX(1.04) translateY(-10px);
}
.individual:first-child > p:hover,
.individual:nth-child(2) > p:hover,
.individual:nth-child(3) > p:hover {
    background-color: rgba(0, 255, 0, 1);
    font-weight: 700;
    color: rgba(0, 0, 0, .9);
    font-size: 1.1rem;
    border-radius: 5px;
    transform : scaleX(1.04);
}

.position, .score-value, .score {
    margin-right: .3em;
}
.position {
    width: 45%;
}
.score-value {
    width: 10%;
}
.score {
    width: 45%;
}
.share-score > .fa {
    padding: 5px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.share-score > .fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

  /* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}


/* media que */
/* @media (max-width: 425px) {
    .score {
        margin: .5em 1em 0 1em;
    }
} */
